*.o
*.lst
*.d
*.o
*.o.d
*.bin
*.dmp
*.elf
*.map
*.pyc
.vimfiles.*
.exvim.*
*.bak
.settings
.project
build
.dep
version.c
.DS_Store
.ycm_extra_conf.*
w
compile_flags.txt
compile_commands.json
.clangd
.ccls-cache
.ccls
/.ccls-root
